In [1]:
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV
from matplotlib import pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
data_housing = pd.read_csv('Clean melb_data.csv')

In [10]:
data_housing.head(5)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [12]:
data_housing.describe(include = 'all')

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
count,13280,13280.00000,13280,1.328000e+04,13280,13280,13280,13280.000000,13280.000000,13280.000000,13280.000000,13280.000000,13280.000000,6952.000000,8016.000000,11994,13280.000000,13280.000000,13280,13280.000000
unique,269,NaN,3,NaN,5,247,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN,7,NaN
top,Reservoir,NaN,h,NaN,S,Nelson,27/05/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moreland,NaN,NaN,Southern Metropolitan,NaN
freq,359,NaN,9163,NaN,8815,1565,458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1161,NaN,NaN,4670,NaN
mean,NaN,2.92131,NaN,1.077056e+06,NaN,NaN,NaN,9.688072,3096.929970,2.895783,1.524699,1.591416,538.055346,144.770442,1964.348428,NaN,-37.808774,144.995308,NaN,7432.246461
std,NaN,0.94533,NaN,6.110923e+05,NaN,NaN,NaN,4.886750,59.663144,0.942098,0.679318,0.959415,3930.342893,129.458588,37.367073,NaN,0.072375,0.096982,NaN,4362.104773
min,NaN,1.00000,NaN,8.500000e+04,NaN,NaN,NaN,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,NaN,-38.114710,144.598640,NaN,389.000000
25%,NaN,2.00000,NaN,6.520000e+05,NaN,NaN,NaN,6.100000,3044.000000,2.000000,1.000000,1.000000,171.750000,92.000000,1940.000000,NaN,-37.856200,144.930300,NaN,4380.000000
50%,NaN,3.00000,NaN,9.100000e+05,NaN,NaN,NaN,9.200000,3083.000000,3.000000,1.000000,2.000000,426.000000,125.000000,1970.000000,NaN,-37.802400,144.999665,NaN,6543.000000
75%,NaN,3.00000,NaN,1.338500e+06,NaN,NaN,NaN,12.800000,3146.000000,3.000000,2.000000,2.000000,650.000000,172.000000,1999.000000,NaN,-37.757715,145.056203,NaN,10331.000000
max,NaN,7.00000,NaN,4.900000e+06,NaN,NaN,NaN,34.900000,3207.000000,7.000000,7.000000,10.000000,433014.000000,6791.000000,2018.000000,NaN,-37.568570,145.337380,NaN,21650.000000

In [ ]:
# Only Numerical Columns
Num_Cat = ['Price', 'Rooms', 'Distance', 'Postcode', ]